{# Define variables #}
{# (1) Convert strings #}
{% set stroke_width = int(data['stroke_width']) %}
{% set width_inner = 560 %}
{% set width_outer = width_inner + stroke_width %}
{% set height = float(data['height']) %}
{% set font_size = int(data['font_size']) %}
{% set roundness = float(data['roundness']) %}

{# (2) Render text paths & extract their properties #}
{% set rendered_text = render_text(data['text'], data['font'], font_size, 186, 52) %}

{# (3) Determine font metrics #}
{% set metrics_font = font_metrics(data['font'], font_size) %}

{# (4) Calculate lengths & distances #}

{# Build SVG elements #}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{ width_outer }} {{ height }}">
    {# (1) Define gradients #}
    <defs>
        {% if data['theme'] == 'light' %}
        <linearGradient href="#a" id="b" gradientUnits="userSpaceOnUse" x1="42519.285" y1="-7078.789" x2="42575.336" y2="-6966.931" />
        <linearGradient id="a">
            <stop offset="0" stop-color="#fff" stop-opacity="0" />
            <stop offset=".495" stop-color="#71c2ff" />
            <stop offset="1" stop-color="#39aaff" />
        </linearGradient>
        {% endif %}
        {% if data['theme'] == 'dark' %}
        <linearGradient id="a">
            <stop offset="0" stop-color="#fff" stop-opacity="0" />
            <stop offset=".495" stop-color="#71c2ff" />
            <stop offset="1" stop-color="#39aaff" />
        </linearGradient>
        <linearGradient y2="-6966.931" x2="42575.336" y1="-7078.789" x1="42519.285" gradientUnits="userSpaceOnUse" id="c" href="#b" />
        <linearGradient id="b">
            <stop offset="0" stop-color="#fff" stop-opacity="0" />
            <stop offset=".495" stop-color="#fff" />
            <stop offset="1" stop-color="#fff" />
        </linearGradient>
        {% endif %}
        {% if data['theme'] == 'legacy' %}
        <linearGradient id="a">
            <stop stop-opacity="0" stop-color="#fff" offset="0" />
            <stop stop-color="#fff" offset=".495" />
            <stop stop-color="#fff" offset="1" />
        </linearGradient>
        {% endif %}
    </defs>

    {# (2) Draw rectangle & text path #}
    <rect id="rect" height="{{ height - stroke_width }}" width="{{ width_inner }}" ry="{{ roundness }}" x="{{ stroke_width / 2 }}" y="{{ stroke_width / 2 }}" fill="{{ data['bg'] }}" stroke="{{ data['stroke'] }}" stroke-width="{{ stroke_width }}" stroke-linejoin="round" paint-order="fill stroke markers" />
    <g aria-label="{{ text }}" id="claim" fill="{{ data['color'] }}">
        {{ rendered_text['path'] }}
    </g>

    {% if data['theme'] == 'light' %}
    <path aria-label="Codeberg" d="M214.654 71.02c-8.453 0-15.047 2.79-19.803 8.369-4.803 5.577-7.215 12.943-7.215 22.096 0 7.034 1.764 13.158 5.281 18.372 4.862 7.275 12.274 10.912 22.2 10.912 6.907 0 12.922-2.516 18.049-7.548l-4.718-7.185c-4.57 2.85-8.512 4.275-11.844 4.275-5.069 0-9.112-1.91-12.12-5.729-2.847-3.638-4.271-8.004-4.271-13.097 0-5.76 1.211-10.428 3.613-14.005 2.773-4.183 6.694-6.274 11.747-6.274 3.65 0 7.684 1.574 12.11 4.728l4.734-7.546c-5.925-4.91-11.844-7.368-17.763-7.368zm167.7 0l-11.657 6.456v52.201h9.441l.925-4.091c2.843 3.455 6.844 5.183 12.03 5.183 5.238 0 9.638-1.548 13.224-4.64 4.56-4.061 6.85-10.033 6.85-17.914 0-6.122-1.547-11.033-4.634-14.732-3.523-4.184-8.38-6.275-14.612-6.275-2.226 0-4.266.418-6.105 1.274-2.348 1.09-4.176 2.607-5.462 4.546zm-62.745.183l-11.674 6.367v13.186c-2.895-2.304-6.471-3.455-10.722-3.455-4.93 0-9.16 1.606-12.667 4.82-4.692 4.304-7.056 10.427-7.056 18.37 0 5.638 1.466 10.247 4.362 13.824 3.454 4.304 8.486 6.456 15.085 6.456 2.343 0 4.622-.517 6.838-1.547 2.232-1.03 3.83-2.334 4.825-3.909l1.663 4.364h9.346zm-65.647 16.098c-6.057 0-10.956 1.878-14.718 5.636-4.139 4.123-6.206 9.52-6.206 16.188 0 5.88 1.855 10.854 5.553 14.916 4.134 4.486 9.272 6.73 15.371 6.73 5.255 0 9.84-1.759 13.783-5.275 4.75-4.183 7.125-9.641 7.125-16.371 0-5.758-1.599-10.638-4.808-14.641-3.826-4.79-9.192-7.183-16.1-7.183zm91.746 0c-5.988 0-10.914 1.94-14.819 5.82-4.314 4.245-6.477 9.609-6.477 16.096 0 6.61 1.923 11.792 5.744 15.552 4.017 4 9.596 6.002 16.758 6.002 6.647 0 12.205-1.94 16.641-5.822l-2.964-6.092c-4.368 2.426-8.56 3.637-12.572 3.637-2.842 0-5.302-.908-7.401-2.728-2.051-1.88-3.194-4.214-3.417-7.001h28.852v-4.183c0-6.003-1.6-10.885-4.809-14.643-3.693-4.427-8.884-6.638-15.536-6.638zm92.543 0c-5.978 0-10.909 1.94-14.803 5.82-4.326 4.245-6.472 9.609-6.472 16.096 0 6.61 1.907 11.792 5.733 15.552 4 4 9.585 6.002 16.753 6.002 6.658 0 12.205-1.94 16.652-5.822l-2.954-6.092c-4.389 2.426-8.587 3.637-12.588 3.637-2.837 0-5.308-.908-7.406-2.728-2.04-1.88-3.183-4.214-3.427-7.001h28.878v-4.183c0-6.003-1.605-10.885-4.814-14.643-3.709-4.427-8.879-6.638-15.552-6.638zm45.163 0c-1.838 0-3.672.485-5.462 1.455-1.727.908-2.901 2-3.512 3.272l-1.11-3.635h-9.9v41.286h11.477V100.03c.978-2.12 2.524-3.18 4.623-3.18 2.28 0 4.442 1.15 6.466 3.454l9.814-5.274c-2.71-5.154-6.844-7.73-12.396-7.73zm30.121 0c-4.883 0-9.107 1.606-12.683 4.82-4.691 4.304-7.024 10.427-7.024 18.37 0 5.577 1.435 10.186 4.336 13.824 3.4 4.304 8.188 6.456 14.351 6.456 5.064 0 8.974-2.032 11.759-6.094 0 9.094-3.342 13.642-10 13.642-4.697 0-8.921-1.213-12.683-3.638l-2.954 5.82c4.856 4.365 10.637 6.549 17.295 6.549 6.413 0 11.354-1.85 14.813-5.549 3.502-3.758 5.266-9.125 5.255-16.098v-37.01h-8.974l-.914 4.455c0-.604-.893-1.515-2.688-2.728-2.716-1.879-6.005-2.82-9.889-2.82zm-167.923 8.094c5.553 0 8.496 2.97 8.794 8.912h-17.869c.675-5.942 3.704-8.912 9.075-8.912zm92.554 0c5.547 0 8.474 2.97 8.788 8.912h-17.858c.674-5.942 3.703-8.912 9.07-8.912zm-184.204.089c5.989 0 8.98 4.547 8.98 13.64 0 8.732-2.991 13.097-8.98 13.097-5.982 0-8.98-4.365-8.98-13.096 0-9.094 2.998-13.641 8.98-13.641zm45.748 0c2.04 0 3.794.67 5.282 2.002 1.53 1.272 2.518 2.908 2.943 4.909v11.55c-.318 2.243-1.408 4.243-3.315 6.002-1.913 1.698-3.985 2.547-6.2 2.547-5.989 0-8.98-4.516-8.98-13.55 0-4.123.924-7.396 2.778-9.82 1.85-2.426 4.347-3.64 7.492-3.64zm216.312 0c1.982 0 3.762.7 5.377 2.093 1.669 1.335 2.625 2.94 2.875 4.818v10.46c0 2.607-.935 4.878-2.785 6.82-1.854 1.878-4.043 2.819-6.572 2.819-6.047 0-9.075-4.516-9.075-13.55 0-4.123.924-7.396 2.779-9.82 1.849-2.426 4.325-3.64 7.401-3.64zm-124.322.094c2.832 0 5.048 1.211 6.663 3.637 1.594 2.425 2.407 5.728 2.407 9.912 0 4.244-.866 7.58-2.598 10.006-1.727 2.424-4.07 3.637-7.019 3.637-2.295 0-4.31-.76-6.03-2.274-1.68-1.518-2.604-3.396-2.769-5.637v-9.916c0-2.606.893-4.818 2.673-6.637 1.854-1.817 4.075-2.728 6.673-2.728z" style="line-height:1.25;-inkscape-font-specification:'Tajawal Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal" font-weight="700" font-size="17.899" font-family="Tajawal" letter-spacing="-.285" word-spacing="0" fill="#2185d0" />
    <g paint-order="stroke markers fill">
        <path style="font-variation-settings:normal" d="M42519.285-7078.79a.76.568 0 00-.738.675l33.586 125.888a87.182 87.182 0 0039.381-33.763l-71.565-92.52a.76.568 0 00-.664-.28z" transform="matrix(.75692 0 0 .74393 -32088.397 5317.32)" opacity=".5" fill="url(#b)" />
        <path d="M93.742 20.95A65.99 64.857 0 0028 85.807a65.99 64.857 0 0010.076 34.447l55.019-69.909a1.03.756 0 011.785 0l55.022 69.912a65.99 64.857 0 0010.078-34.45A65.99 64.857 0 0093.99 20.95a65.99 64.857 0 00-.248 0z" fill="#2185d0" />
    </g>
    {% endif %}
    {% if data['theme'] == 'dark' %}
    <path aria-label="Codeberg" style="line-height:1.25;-inkscape-font-specification:'Tajawal Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal" d="M214.08 70.875c-8.471 0-15.08 2.796-19.845 8.386-4.814 5.59-7.231 12.97-7.231 22.143 0 7.049 1.768 13.186 5.293 18.411 4.872 7.29 12.3 10.935 22.247 10.935 6.922 0 12.95-2.521 18.088-7.564l-4.728-7.2c-4.58 2.856-8.53 4.284-11.87 4.284-5.08 0-9.131-1.914-12.145-5.74-2.854-3.647-4.281-8.022-4.281-13.126 0-5.772 1.214-10.45 3.62-14.034 2.78-4.192 6.71-6.288 11.774-6.288 3.658 0 7.7 1.578 12.135 4.738l4.744-7.561c-5.937-4.921-11.869-7.384-17.8-7.384zm168.062 0l-11.683 6.47v52.31h9.462l.927-4.1c2.849 3.464 6.858 5.195 12.055 5.195 5.25 0 9.66-1.551 13.254-4.65 4.568-4.07 6.863-10.054 6.863-17.952 0-6.135-1.55-11.056-4.643-14.763-3.53-4.192-8.397-6.288-14.643-6.288-2.231 0-4.276.419-6.118 1.276-2.354 1.093-4.185 2.614-5.474 4.556zm-62.88.183l-11.7 6.38v13.214c-2.901-2.309-6.485-3.462-10.745-3.462-4.941 0-9.18 1.61-12.694 4.83-4.702 4.314-7.071 10.45-7.071 18.408 0 5.65 1.47 10.27 4.371 13.854 3.461 4.313 8.504 6.47 15.117 6.47 2.349 0 4.633-.518 6.853-1.55 2.237-1.033 3.84-2.339 4.835-3.917l1.667 4.372h9.366zM253.472 87.19c-6.07 0-10.98 1.882-14.75 5.648-4.147 4.132-6.219 9.54-6.219 16.222 0 5.893 1.859 10.878 5.565 14.947 4.142 4.496 9.291 6.745 15.404 6.745 5.267 0 9.862-1.763 13.813-5.286 4.76-4.192 7.14-9.662 7.14-16.406 0-5.77-1.602-10.66-4.819-14.672-3.833-4.8-9.211-7.198-16.134-7.198zm91.944 0c-6.001 0-10.937 1.945-14.851 5.833-4.324 4.253-6.491 9.628-6.491 16.13 0 6.623 1.927 11.817 5.756 15.584 4.026 4.009 9.617 6.015 16.794 6.015 6.662 0 12.232-1.945 16.678-5.834l-2.972-6.105c-4.376 2.43-8.578 3.645-12.598 3.645-2.849 0-5.314-.91-7.417-2.734-2.056-1.883-3.2-4.223-3.424-7.017h28.913v-4.19c0-6.016-1.602-10.909-4.819-14.675-3.7-4.436-8.903-6.652-15.57-6.652zm92.742 0c-5.99 0-10.932 1.945-14.835 5.833-4.334 4.253-6.486 9.628-6.486 16.13 0 6.623 1.912 11.817 5.746 15.584 4.01 4.009 9.606 6.015 16.789 6.015 6.672 0 12.231-1.945 16.688-5.834l-2.96-6.105c-4.399 2.43-8.606 3.645-12.615 3.645-2.844 0-5.32-.91-7.423-2.734-2.045-1.883-3.19-4.223-3.434-7.017h28.94v-4.19c0-6.016-1.608-10.909-4.824-14.675-3.717-4.436-8.898-6.652-15.586-6.652zm45.26 0c-1.842 0-3.679.487-5.473 1.458-1.73.91-2.908 2.005-3.52 3.28l-1.113-3.643h-9.92v41.372h11.502v-29.71c.98-2.125 2.529-3.187 4.632-3.187 2.285 0 4.452 1.153 6.48 3.462l9.835-5.286c-2.715-5.164-6.858-7.746-12.422-7.746zm30.187 0c-4.893 0-9.127 1.61-12.71 4.83-4.702 4.314-7.04 10.45-7.04 18.408 0 5.59 1.438 10.208 4.345 13.854 3.408 4.313 8.206 6.47 14.383 6.47 5.074 0 8.993-2.037 11.783-6.107 0 9.113-3.349 13.67-10.02 13.67-4.708 0-8.941-1.215-12.711-3.645l-2.96 5.832c4.866 4.375 10.66 6.563 17.332 6.563 6.427 0 11.379-1.854 14.845-5.56 3.51-3.766 5.277-9.144 5.266-16.133V88.285h-8.993l-.916 4.464c0-.605-.895-1.518-2.694-2.734-2.721-1.882-6.018-2.825-9.91-2.825zm-168.285 8.111c5.564 0 8.514 2.977 8.812 8.931h-17.907c.676-5.954 3.711-8.93 9.095-8.93zm92.753 0c5.559 0 8.493 2.977 8.807 8.931h-17.897c.676-5.954 3.712-8.93 9.09-8.93zm-184.6.09c6 0 8.998 4.556 8.998 13.669 0 8.75-2.998 13.124-8.999 13.124-5.995 0-8.999-4.374-8.999-13.124 0-9.113 3.004-13.67 9-13.67zm45.846 0c2.045 0 3.802.671 5.293 2.005 1.533 1.276 2.524 2.915 2.95 4.92v11.575c-.32 2.247-1.411 4.252-3.323 6.014-1.917 1.702-3.994 2.552-6.214 2.552-6.001 0-8.999-4.525-8.999-13.579 0-4.131.927-7.41 2.785-9.84 1.853-2.43 4.356-3.648 7.508-3.648zm216.778 0c1.986 0 3.77.7 5.389 2.097 1.672 1.337 2.63 2.946 2.88 4.828v10.482c0 2.612-.937 4.889-2.79 6.834-1.858 1.883-4.052 2.825-6.587 2.825-6.06 0-9.094-4.525-9.094-13.579 0-4.131.926-7.41 2.785-9.84 1.853-2.43 4.334-3.648 7.417-3.648zm-124.59.094c2.838 0 5.059 1.213 6.678 3.644 1.597 2.43 2.412 5.74 2.412 9.934 0 4.252-.868 7.595-2.604 10.026-1.73 2.43-4.079 3.645-7.034 3.645-2.3 0-4.319-.761-6.044-2.279-1.683-1.52-2.609-3.403-2.774-5.649v-9.936c0-2.612.894-4.828 2.678-6.652 1.859-1.82 4.084-2.733 6.688-2.733z" font-weight="700" font-size="17.899" font-family="Tajawal" letter-spacing="-.285" word-spacing="0" fill="#fff" />
    <g paint-order="stroke markers fill">
        <path transform="matrix(.75333 0 0 .74036 -31936.28 5291.948)" d="M42519.285-7078.79a.76.568 0 00-.738.675l33.586 125.888a87.182 87.182 0 0039.381-33.763l-71.565-92.52a.76.568 0 00-.664-.28z" style="font-variation-settings:normal" opacity=".5" fill="url(#c)" />
        <path d="M93.311 20.935a65.677 64.547 0 00-65.43 64.546 65.677 64.547 0 0010.028 34.283l54.758-69.575a1.025.752 0 011.777 0l54.761 69.577a65.677 64.547 0 0010.03-34.285 65.677 64.547 0 00-65.677-64.546 65.677 64.547 0 00-.247 0z" fill="#fff" />
    </g>
    {% endif %}
    {% if data['theme'] == 'legacy' %}
    <path d="M352.493 483.546l40.915-88.123 37.767 33.046 9.914-11.33 53.504 67.666" fill="#fff" stroke="#2185d0" stroke-width="6.295" transform="matrix(1.03583 0 0 1.01812 -337.177 -362.408)" />
    <path d="M387.113 436.337l14.163-16.193 11.692 10.23M409.144 441.058l6.295 5.508 15.422-17.625" fill="none" stroke="#2185d0" stroke-width="6.295" transform="matrix(1.03583 0 0 1.01812 -337.177 -362.408)" />
    <g aria-label="Codeberg" font-weight="700" font-size="14.5" font-family="Lato" fill="#107bb5">
        <path d="M57.635 109.289q-.13.163-.26.255-.118.093-.354.093-.225 0-.438-.127-.212-.14-.508-.302-.295-.175-.709-.302-.402-.14-1.004-.14-.768 0-1.347.279-.58.267-.97.778-.378.511-.567 1.243-.189.72-.189 1.638 0 .952.201 1.696.213.743.603 1.254.39.5.945.767.556.255 1.253.255.697 0 1.123-.162.437-.174.732-.372.296-.209.508-.372.225-.174.497-.174.354 0 .532.267l.839 1.046q-.485.557-1.052.94-.567.372-1.182.605-.603.22-1.253.313-.638.093-1.276.093-1.123 0-2.115-.406-.993-.419-1.738-1.208-.744-.79-1.181-1.929-.426-1.15-.426-2.613 0-1.313.378-2.428.39-1.126 1.135-1.94.744-.824 1.844-1.289 1.099-.465 2.528-.465 1.36 0 2.376.43 1.028.43 1.843 1.231zM65.486 106.582q1.347 0 2.446.43 1.111.43 1.891 1.22.792.79 1.217 1.928.426 1.138.426 2.544 0 1.417-.426 2.555-.425 1.139-1.217 1.94-.78.802-1.89 1.231-1.1.43-2.447.43-1.36 0-2.47-.43t-1.903-1.23q-.78-.802-1.217-1.94-.425-1.139-.425-2.556 0-1.406.425-2.544.437-1.138 1.217-1.928.792-.79 1.903-1.22 1.11-.43 2.47-.43zm0 10.071q1.513 0 2.233-.999.733-.999.733-2.927t-.733-2.939q-.72-1.01-2.233-1.01-1.536 0-2.28 1.022-.734 1.01-.734 2.927t.733 2.927q.745 1 2.28 1zM82.438 118.686q-.58 0-.733-.523l-.248-1.15q-.378.418-.792.755-.414.337-.898.581-.473.244-1.028.372-.544.14-1.182.14-.993 0-1.82-.407-.827-.407-1.43-1.174-.59-.778-.922-1.916-.319-1.138-.319-2.602 0-1.324.367-2.463.366-1.138 1.051-1.974.686-.837 1.643-1.301.957-.476 2.15-.476 1.017 0 1.738.325.72.313 1.288.848v-6.296h2.92v17.26zm-3.888-2.102q.91 0 1.548-.372t1.205-1.057v-5.343q-.496-.593-1.087-.837-.58-.244-1.253-.244-.662 0-1.193.244-.532.244-.91.744-.378.488-.58 1.254-.2.755-.2 1.789 0 1.045.165 1.777.177.72.497 1.185.319.453.78.662.46.198 1.028.198zM92.29 106.582q1.147 0 2.116.36.969.36 1.666 1.058.697.685 1.087 1.695.402 1 .402 2.289 0 .65-.142.883-.142.22-.543.22H89.37q.071.918.331 1.592.26.662.686 1.103.425.43 1.004.65.591.21 1.3.21.71 0 1.217-.163.52-.163.898-.36.39-.198.674-.36.295-.163.567-.163.367 0 .544.267l.839 1.046q-.485.557-1.087.94-.603.372-1.265.605-.65.22-1.335.313-.674.093-1.312.093-1.264 0-2.352-.406-1.087-.419-1.89-1.22-.804-.813-1.265-1.998-.46-1.196-.46-2.764 0-1.22.4-2.289.403-1.08 1.147-1.87.757-.801 1.832-1.266 1.087-.465 2.446-.465zm.06 2.056q-1.277 0-1.998.709-.72.709-.922 2.01h5.507q0-.558-.165-1.046-.154-.5-.473-.871-.319-.372-.815-.58-.485-.222-1.135-.222zM99.728 118.686v-17.26h2.92v6.817q.732-.766 1.618-1.208.899-.453 2.045-.453 1.052 0 1.89.407.852.407 1.442 1.173.603.755.922 1.835.32 1.08.32 2.428 0 1.452-.367 2.637-.366 1.185-1.052 2.033-.673.836-1.63 1.3-.958.465-2.128.465-.567 0-1.04-.116-.46-.105-.85-.302-.379-.197-.71-.476-.319-.29-.614-.64l-.13.802q-.071.302-.248.43-.166.128-.461.128zm5.578-9.873q-.839 0-1.465.383-.626.372-1.194 1.057v5.343q.497.604 1.076.848.59.232 1.24.232.674 0 1.206-.232.544-.244.922-.743.378-.511.579-1.29.2-.79.2-1.881 0-1.963-.661-2.835-.662-.882-1.903-.882zM118.326 106.582q1.146 0 2.115.36.97.36 1.667 1.058.697.685 1.087 1.695.402 1 .402 2.289 0 .65-.142.883-.142.22-.544.22h-7.504q.071.918.331 1.592.26.662.685 1.103.426.43 1.005.65.59.21 1.3.21.709 0 1.217-.163.52-.163.898-.36.39-.198.674-.36.295-.163.567-.163.366 0 .544.267l.839 1.046q-.485.557-1.087.94-.603.372-1.265.605-.65.22-1.335.313-.674.093-1.312.093-1.265 0-2.352-.406-1.087-.419-1.89-1.22-.804-.813-1.265-1.998-.461-1.196-.461-2.764 0-1.22.402-2.289.402-1.08 1.146-1.87.756-.801 1.832-1.266 1.087-.465 2.446-.465zm.06 2.056q-1.277 0-1.998.709-.72.709-.922 2.01h5.507q0-.558-.165-1.046-.154-.5-.473-.871-.319-.372-.815-.58-.485-.222-1.135-.222zM125.764 118.686v-11.918h1.714q.449 0 .626.163.177.15.237.557l.165 1.348q.579-1.069 1.359-1.673.78-.615 1.844-.615.839 0 1.347.36l-.19 2.149q-.058.209-.177.302-.106.08-.295.08-.177 0-.532-.057-.343-.058-.673-.058-.485 0-.863.14-.378.139-.686.406-.295.255-.531.627-.225.372-.426.848v7.34zM138.828 106.56q.78 0 1.454.162.685.15 1.264.453h3.487v1.068q0 .512-.627.628l-1.087.197q.118.302.177.64.071.336.071.708 0 .882-.366 1.603-.355.708-.993 1.208t-1.512.778q-.863.267-1.868.267-.685 0-1.335-.128-.567.337-.567.755 0 .36.33.535.343.162.899.232.555.07 1.264.093.71.011 1.454.07.744.058 1.453.209.71.139 1.265.453.555.313.886.86.343.533.343 1.381 0 .79-.402 1.534-.39.743-1.146 1.324-.745.58-1.844.93-1.087.36-2.481.36-1.371 0-2.388-.268-1.016-.256-1.69-.697-.673-.43-1.004-.999-.331-.569-.331-1.185 0-.824.508-1.394.52-.569 1.406-.906-.472-.243-.756-.65-.283-.407-.283-1.069 0-.267.094-.546.095-.29.284-.569.2-.279.496-.522.307-.256.71-.453-.923-.488-1.454-1.301-.52-.814-.52-1.905 0-.883.354-1.592.366-.72 1.005-1.22.65-.51 1.524-.778.886-.267 1.926-.267zm3.297 12.66q0-.348-.212-.557-.213-.221-.58-.349-.366-.128-.862-.186-.485-.058-1.04-.08-.544-.036-1.134-.059-.58-.023-1.135-.093-.484.267-.792.627-.295.36-.295.837 0 .313.153.58.166.28.509.477.354.197.91.302.555.116 1.359.116.815 0 1.406-.128.59-.116.969-.337.39-.209.567-.51.177-.291.177-.64zm-3.297-6.783q.544 0 .946-.14.402-.15.662-.406.271-.256.401-.616.142-.36.142-.79 0-.882-.543-1.394-.532-.522-1.608-.522-1.075 0-1.619.522-.531.512-.531 1.394 0 .418.13.779.141.36.401.627.272.255.674.406.414.14.945.14z" />
    </g>
    <g aria-label="Codeberg" font-weight="700" font-size="14.5" font-family="Lato" fill="#fff">
        <path d="M224.318 93.669q-.468.585-.936.92-.425.334-1.276.334-.809 0-1.575-.46-.766-.502-1.83-1.087-1.063-.628-2.553-1.088-1.446-.501-3.616-.501-2.766 0-4.851 1.003-2.085.962-3.49 2.803-1.361 1.84-2.042 4.475-.681 2.593-.681 5.897 0 3.43.723 6.106.766 2.677 2.17 4.517 1.405 1.799 3.405 2.76 2 .92 4.51.92t4.043-.585q1.574-.627 2.638-1.338 1.064-.753 1.83-1.338.808-.628 1.787-.628 1.276 0 1.915.962l3.02 3.764q-1.744 2.008-3.786 3.388-2.043 1.339-4.256 2.175-2.17.795-4.51 1.13-2.298.334-4.596.334-4.042 0-7.616-1.464-3.575-1.506-6.256-4.35-2.68-2.844-4.255-6.943-1.532-4.14-1.532-9.41 0-4.726 1.362-8.741 1.404-4.057 4.085-6.985 2.68-2.97 6.638-4.642 3.957-1.673 9.106-1.673 4.894 0 8.553 1.547 3.702 1.548 6.638 4.433zM252.586 83.924q4.851 0 8.808 1.547 4 1.548 6.809 4.392 2.85 2.844 4.383 6.942 1.531 4.1 1.531 9.16 0 5.103-1.531 9.201-1.532 4.1-4.383 6.985-2.809 2.886-6.809 4.433-3.957 1.548-8.808 1.548-4.893 0-8.893-1.548-4-1.547-6.851-4.433-2.808-2.886-4.383-6.985-1.532-4.098-1.532-9.201 0-5.06 1.532-9.16 1.575-4.098 4.383-6.942 2.85-2.844 6.85-4.392 4-1.547 8.894-1.547zm0 36.261q5.447 0 8.042-3.597 2.639-3.597 2.639-10.54 0-6.942-2.639-10.58-2.595-3.64-8.042-3.64-5.532 0-8.212 3.68-2.639 3.64-2.639 10.54 0 6.902 2.639 10.54 2.68 3.597 8.212 3.597zM313.624 127.504q-2.085 0-2.638-1.882l-.894-4.14q-1.361 1.505-2.85 2.718-1.49 1.213-3.235 2.092-1.702.878-3.702 1.338-1.957.502-4.255.502-3.574 0-6.553-1.464-2.978-1.464-5.149-4.224-2.127-2.802-3.319-6.901-1.148-4.1-1.148-9.369 0-4.768 1.319-8.867 1.319-4.098 3.787-7.11 2.468-3.011 5.914-4.684 3.447-1.715 7.745-1.715 3.66 0 6.255 1.171 2.596 1.13 4.638 3.053V65.354h10.51v62.15zm-14-7.57q3.277 0 5.575-1.338t4.34-3.806V95.55q-1.787-2.132-3.915-3.01-2.085-.879-4.51-.879-2.383 0-4.298.878-1.915.879-3.276 2.677-1.362 1.757-2.085 4.517-.724 2.719-.724 6.441 0 3.764.596 6.4.638 2.592 1.787 4.265 1.15 1.631 2.809 2.384 1.66.711 3.702.711zM349.1 83.924q4.128 0 7.617 1.296 3.49 1.297 6 3.806 2.51 2.468 3.915 6.106 1.447 3.597 1.447 8.24 0 2.342-.51 3.178-.512.795-1.958.795h-27.02q.255 3.304 1.19 5.73.937 2.384 2.469 3.973 1.532 1.548 3.617 2.343 2.127.752 4.68.752t4.383-.585q1.872-.586 3.234-1.297 1.404-.71 2.426-1.296 1.063-.586 2.042-.586 1.32 0 1.957.962l3.022 3.764q-1.745 2.008-3.915 3.388-2.17 1.339-4.553 2.175-2.34.795-4.809 1.13-2.425.334-4.723.334-4.553 0-8.468-1.464-3.914-1.506-6.808-4.392-2.894-2.927-4.553-7.193-1.66-4.308-1.66-9.955 0-4.391 1.447-8.239 1.447-3.89 4.128-6.734 2.723-2.886 6.595-4.558 3.915-1.673 8.809-1.673zm.213 7.402q-4.595 0-7.191 2.552-2.596 2.551-3.319 7.235h19.83q0-2.007-.597-3.764-.553-1.798-1.702-3.137-1.149-1.338-2.936-2.09-1.744-.796-4.085-.796zM375.883 127.504v-62.15h10.51v24.55q2.639-2.76 5.83-4.35 3.234-1.63 7.361-1.63 3.788 0 6.809 1.463 3.063 1.464 5.191 4.225 2.17 2.718 3.32 6.608 1.148 3.89 1.148 8.741 0 5.228-1.32 9.494-1.318 4.266-3.786 7.32-2.426 3.01-5.872 4.684-3.447 1.673-7.66 1.673-2.042 0-3.744-.418-1.66-.377-3.064-1.088-1.362-.71-2.553-1.715-1.15-1.045-2.213-2.3l-.468 2.886q-.255 1.087-.894 1.547-.595.46-1.66.46zm20.084-35.55q-3.02 0-5.276 1.38-2.255 1.338-4.298 3.806v19.24q1.787 2.174 3.873 3.052 2.127.837 4.467.837 2.426 0 4.34-.837 1.958-.878 3.32-2.676 1.361-1.84 2.085-4.643.723-2.844.723-6.775 0-7.069-2.383-10.206-2.383-3.178-6.85-3.178zM442.848 83.924q4.127 0 7.617 1.296 3.489 1.297 6 3.806 2.51 2.468 3.914 6.106 1.447 3.597 1.447 8.24 0 2.342-.51 3.178-.511.795-1.958.795h-27.02q.255 3.304 1.19 5.73.937 2.384 2.469 3.973 1.532 1.548 3.617 2.343 2.127.752 4.68.752 2.554 0 4.383-.585 1.873-.586 3.234-1.297 1.404-.71 2.426-1.296 1.064-.586 2.042-.586 1.32 0 1.958.962l3.02 3.764q-1.744 2.008-3.914 3.388-2.17 1.339-4.553 2.175-2.34.795-4.808 1.13-2.426.334-4.724.334-4.553 0-8.467-1.464-3.915-1.506-6.809-4.392-2.893-2.927-4.553-7.193-1.66-4.308-1.66-9.955 0-4.391 1.447-8.239 1.447-3.89 4.128-6.734 2.723-2.886 6.595-4.558 3.915-1.673 8.809-1.673zm.212 7.402q-4.595 0-7.19 2.552-2.596 2.551-3.32 7.235h19.83q0-2.007-.596-3.764-.554-1.798-1.702-3.137-1.15-1.338-2.937-2.09-1.744-.796-4.085-.796zM469.63 127.504V84.593h6.17q1.617 0 2.255.585.639.544.851 2.008l.596 4.851q2.085-3.847 4.894-6.022 2.808-2.217 6.638-2.217 3.021 0 4.85 1.297l-.68 7.737q-.213.753-.638 1.088-.383.292-1.064.292-.638 0-1.915-.209-1.234-.209-2.426-.209-1.744 0-3.106.502-1.361.502-2.468 1.464-1.064.92-1.915 2.258-.808 1.339-1.532 3.054v26.432zM516.67 83.84q2.808 0 5.234.585 2.468.544 4.553 1.632h12.553v3.847q0 1.84-2.256 2.259l-3.914.71q.425 1.088.638 2.301.255 1.213.255 2.552 0 3.178-1.319 5.771-1.276 2.552-3.574 4.35-2.298 1.798-5.447 2.802-3.106.962-6.723.962-2.468 0-4.808-.46-2.043 1.213-2.043 2.719 0 1.296 1.192 1.924 1.234.585 3.234.836t4.553.335q2.553.041 5.233.25 2.681.21 5.234.754 2.553.501 4.553 1.63 2 1.13 3.192 3.096 1.234 1.924 1.234 4.977 0 2.844-1.447 5.52-1.404 2.677-4.128 4.769-2.68 2.09-6.638 3.345-3.914 1.297-8.936 1.297-4.936 0-8.595-.962-3.66-.92-6.085-2.51-2.425-1.547-3.617-3.596-1.191-2.05-1.191-4.266 0-2.97 1.83-5.02 1.872-2.049 5.063-3.262-1.702-.878-2.723-2.342t-1.021-3.848q0-.962.34-1.965.34-1.046 1.021-2.05.724-1.003 1.787-1.882 1.107-.92 2.554-1.63-3.32-1.758-5.234-4.685-1.873-2.928-1.873-6.86 0-3.178 1.277-5.73 1.319-2.592 3.617-4.39 2.34-1.841 5.489-2.803 3.191-.962 6.936-.962zm11.872 45.588q0-1.254-.766-2.007-.766-.795-2.085-1.255-1.32-.46-3.106-.67-1.745-.208-3.745-.292-1.957-.125-4.085-.209-2.085-.084-4.085-.335-1.744.962-2.85 2.259-1.065 1.296-1.065 3.011 0 1.13.554 2.091.595 1.004 1.83 1.715 1.276.711 3.276 1.088 2 .418 4.893.418 2.936 0 5.064-.46 2.128-.418 3.49-1.213 1.403-.753 2.042-1.84.638-1.046.638-2.3zm-11.872-24.425q1.957 0 3.404-.502 1.447-.544 2.383-1.464.979-.92 1.447-2.216.51-1.297.51-2.844 0-3.18-1.957-5.02-1.915-1.881-5.787-1.881t-5.83 1.882q-1.914 1.84-1.914 5.019 0 1.505.468 2.802.51 1.296 1.446 2.258.979.92 2.426 1.464 1.49.502 3.404.502z" />
    </g>
    {% endif %}
</svg>
