{% set width = 100 %}
{% set height = 100 %}
{% set bg = '#fff' %}

<svg width="{{ width }}" height="{{ height }}" viewBox="0 0 {{ width }} {{ height }}">
    <rect width="{{ width }}" height="{{ height }}" x="0" y="0" fill="{{ bg }}" />
</svg>
